# Oracle Settings
export TMP=/tmp
export TMPDIR=$TMP

export ORACLE_HOSTNAME={{ server_hostname }}
#export ORACLE_UNQNAME=cdb1
export ORACLE_BASE={{ orclbasedir }}
export ORACLE_HOME={{ orcl_home }}
export ORACLE_SID={{ orcl_sid }}

export PATH=/usr/sbin:/usr/local/bin:$PATH
export PATH=$ORACLE_HOME/bin:$PATH

export LD_LIBRARY_PATH=$ORACLE_HOME/lib:/lib:/usr/lib
export CLASSPATH=$ORACLE_HOME/jlib:$ORACLE_HOME/rdbms/jlib

